<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="com.mycompany_mavenproject1_jar_1.0-SNAPSHOT">

    <test name="catd suite" allow-return-values="true">
        <classes>
            <class name="tests.AnimalTest" />
            <class name="tests.CatTest" />
            <class name="tests.DogTest" />
        </classes>
    </test>

</suite>
